@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?15ij8u') format('truetype'),
    url('../fonts/icomoon.woff?15ij8u') format('woff'),
    url('../fonts/icomoon.svg?15ij8u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_"]:before, [class*=" _"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._in:before {
  content: "\e900";
}
._inst:before {
  content: "\e901";
}
._twitt:before {
  content: "\e902";
}
._face:before {
  content: "\e903";
}
._bascket:before {
  content: "\e904";
}
