@import "_vars.scss";
.articles {
  background: $bgSection;
  padding: 126px 0 150px 0;
  margin: 0px 0px 120px 0px;
  @media (max-width: 500px){
    padding: 60px 0 60px 0;
    margin: 0px 0px 60px 0px;
  }
}
.articles-container {
		// .articles-container__section-title
		&__section-title {
      align-items: center;
      color: $primary;
      margin: 0px 0px 70px 0px;
		}
}

.items-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 20px;
  @media (max-width: 500px){
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
}
.item-articles {
  display: grid;
  grid-template-rows: auto 1fr;
}
.image-item-articles {
  position: relative;
  padding: 0 0 83% 0;
		// .image-item-articles__img
		&__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 5px 5px 0px 0px
		}
}
.content-item-articles {
    background: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 27px 31px;
		// .content-item-articles__title
		&__title {
      font-family: $fontfamilySecondary;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0.24px;
      color: $primary;
      margin: 0px 0px 19px 0px;
		}
		// .content-item-articles__text
		&__text {
      font-family: $fontfamilyPrimory;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 160%;
      color: $lightBlack;
      margin: 0px 0px 13px 0px;
		}
}
.block-active-articles {
  display: flex;
  justify-content: space-between;
		// .block-active-articles__btn
		&__btn {
      font-family: $fontfamilySecondary;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 120% ;
      letter-spacing: 0.38px;
      text-transform: capitalize;
      color: $primary;
      border-bottom: 2px solid $primary;
      padding: 0 9px 0 0;
      transition: 0.3s;
      &:hover{
        padding: 0 12px 0 0;
        transition: 0.3s;
      }
		}
		// .block-active-articles__dste
		&__dste {
      font-family: $fontfamilyPrimory;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 159%;
      color: $primary;
      transition: 0.3s;
      &:hover{
        color: $lightBlack;
        transition: 0.3s;
      }
		}
}
