@import "_vars.scss";
.learn {
  margin: 0px 0px 140px 0px;
  @media (max-width: 500px){
  margin: 0px 0px 60px 0px;
  }
}
.learn-container {
		// .learn-container__section-title
		&__section-title {
      align-items: center;
      margin: 0px 0px 90px 0px;
      color: $primary;
      @media (max-width: 500px){
      margin: 0px 0px 60px 0px;
      }
		}
}
.box-learn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
  gap: 79px;
  align-items: center;
  @media (max-width: 500px){
    grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  }
}
.items-box-learn {
  padding: 30px 30px 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  @media (max-width: 500px){
  padding: 0 0 60px 0;
  }
}
.item-box-learn {
  background: $bgSection;
  padding: 30px;
  display: flex;
  flex-direction: column;
  &:nth-child(1){
    .item-box-learn__text:before{
      content: "01";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: $secondaryBright;
      border-radius: 50%;
      margin: 0px 0px 30px 0px;
    }
  }
  &:nth-child(2){
    .item-box-learn__text:before{
      content: "02";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: $secondaryBright;
      border-radius: 50%;
      margin: 0px 0px 30px 0px;
    }
  }
  &:nth-child(3){
    .item-box-learn__text:before{
      content: "03";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: $secondaryBright;
      border-radius: 50%;
      margin: 0px 0px 30px 0px;
    }
  }
  &:nth-child(4){
    .item-box-learn__text:before{
      content: "04";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: $secondaryBright;
      border-radius: 50%;
      margin: 0px 0px 30px 0px;
    }
  }
		// .item-box-learn__text
		&__text {
      font-family: $fontfamilySecondary;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height:140%;
      color: $primary;
      &::before{
        
      }
		}
}
.image-box-learn {
  border: 10px solid $secondaryBright;
  position: relative;
  padding: 0 0 114% 0;
		// .image-box-learn__img
		&__img {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 50px;
      right: 50px;
      object-fit: cover;
		}
}
