@import "_vars.scss";
@import "_first-screen.scss";
@import "_books.scss";
@import "_about.scss";
@import "_portners.scss";
@import "_copy.scss";
@import "_learn.scss";
@import "_extension.scss";
@import "_readers.scss";
@import "_updates.scss";
@import "_articles.scss";
.main{
  flex: 1 1 auto;
}