@import "_vars.scss";
.portners {
  padding: 15px 0 0 0;
  margin: 0px 0px 129px 0px;
  @media (max-width: 500px){
    margin: 0px 0px 60px 0px;
    padding: 0;
  }
}
.portners-container {
		// .portners-container__section-title
		&__section-title {
      align-items: center;
      margin: 0px 0px 50px 0px;
      color: $primary;
		}
}
.items-portners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 16px;
  @media (max-width: 546px){
    gap: 40px;
  }
}
.item-portners {
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  padding: 0 8px 3px 8px;
		&__img {
      width: 189px;
      height: 100px;
      margin: 0px 0px 22px 0px;
		}
		// .item-portners__title
		&__title {
      font-family: $fontfamilySecondary;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: $primary;
      margin: 0px 0px 16px 0px;
		}
		// .item-portners__text
		&__text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 150%;
      color: $lightBlack;
      text-align: center;
		}
}
