@import "_vars.scss";
.updates {
  background: $secondaryBright;
  padding: 96px 0 115px 0;
  margin: 0px 0px 120px 0px;
  @media (max-width: 500px){
    padding: 60px 0 60px 0;
    margin: 0px 0px 60px 0px;
  }
}
.updates-container {
		// .updates-container__text
		&__text {
      font-family: $fontfamilyPrimory;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 158%;
      text-align: center;
      color: $primary;
      max-width: 550px;
      text-align: center;
      margin: 0 auto 49px auto;
		}
}
.section-title {
		// .section-title_yellow
		&_yellow {
      align-items: center;
      margin: 0px 0px 25px 0px;
		}
}
.form-updates {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 700px){
    flex-direction: column;
    align-items: center;
  } 
		// .form-updates__input
		&__input {
      font-family: $fontfamilyPrimory;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      letter-spacing: 0.18px;
      color: $primary;
      padding: 19.5px 39px 19.5px 39px;
      &:focus{
        box-shadow: 0px 0px 3px 0.7px $primary;
      }
      @media (max-width: 500px){
        padding: 15px 25px 15px 25px;
      }
      flex: 1 1 100%;
      &::placeholder{
        font-family: $fontfamilyPrimory;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 170%;
        letter-spacing: 0.18px;
        color: #B4C7E7;
      }
		}
}
.btn-form-updates {
  font-family: $fontfamilyPrimory;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170% ;
  text-align: center;
  letter-spacing: 0.18px;
  color: #FFFFFF;
  background: $primary;
  border: 2px solid $primary;
  padding: 17px 120.5px;
  transition: 0.3s;
  @media (max-width: 500px){
    padding: 13px 102px;
  }
    &:hover{
      transition: 0.3s;
      color: $primary;
      background: transparent;
    }
}

